<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="plugins" type="System.Configuration.AppSettingsSection" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <plugins>
    <add key="../../../XmlRepository/bin/Debug" />
    <add key="../../../DataBaseRepository/bin/Debug" />
    <add key="../../../DataBaseLogger/bin/Debug" />
    <add key="../../../FileLogger/bin/Debug" />
  </plugins>

  <appSettings>
    <add key="filename" value="serialized.log" />
    <add key="loggerType" value="db" />
    <add key="logLevel" value="3" />
    <add key="repositoryType" value="db" />
    <add key="fileName" value="Test.xml" />
  </appSettings>

  <connectionStrings>
    <add name="DataBase.Properties.Settings.ReflectorConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ReflectorDataBase.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.LoggerConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LoggerDataBase.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions"
                          publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <sources>
      <source name="Log" switchValue="Information" switchType="System.Diagnostics.SourceSwitch" />
    </sources>
  </system.diagnostics>

</configuration>